---
import { render } from 'astro:content';
import { getAllPostsSorted } from '../../posts';
import Layout from '../../layouts/Layout.astro';
import Section from '../../components/Section.astro';
import Thoughts from '../../components/Thoughts.astro';

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getAllPostsSorted();
  return posts.map((post) => ({
    params: { post: post.id  },
    props: { post },
  }));
};

const { post } = Astro.props;
const { Content } = await render(post)
---

<Layout>
  <div class="wrapper">
    <a href="/blog">all posts</a>
    <section class="post" style="--order: 1">
      <h1>{post.data.title}</h1>
      <div class="text">
        <Content />
      </div>
    </section>
    <Section title="thoughts?" style="--order: 2">
      <a href={`/post-thought/${post.id}`}>add a thought</a>
      <Thoughts post={post.id} />
    </Section>
  </div>
</Layout>

<style>
  .wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  h1 {
    font-size: 2.25rem;
    font-family: var(--monospace);
    margin-bottom: 1rem;
  }

  a {
    font-family: var(--monospace);
  }

  .post {
    margin-bottom: 24px;
  }
</style>