/* fonts */
@font-face {
  font-family: "Redrose";
  src: url("/redrose-regular.woff2") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Redrose";
  src: url("/redrose-bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* global */
:root {
  color-scheme: dark;

  /* colors */
  --baba: #bababa;
  --almost-dark: #242424;
  --toxic-green: #00ff57;
  --toxic-purple: #db00ff;
  --darker-green: #0e351c;
  --darker-purple: #37173d;
  --body-gradient: linear-gradient(
    70deg,
    var(--darker-green) 0%,
    var(--darker-purple) 100%
  );
}
/* typography */
a:any-link {
  font-size: 1.25rem;
  color: var(--baba);
  transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:any-link:hover {
  color: white;
}
