@font-face {
  font-family: Redrose;
  src: url(/redrose-regular.woff2) format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Redrose;
  src: url(/redrose-bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}
:root {
  color-scheme: dark;
  --baba: #bababa;
  --almost-dark: #242424;
  --toxic-green: 140 100% 50%;
  --toxic-purple: 292 100% 50%;
  --darker-green: 142 58% 13%;
  --darker-purple: 291 45% 16%;
  --darker-blue: 227 22% 17%;
}
nav > a:any-link,
small {
  font-size: 1.25rem;
  color: var(--baba);
}
nav > a:any-link {
  transition: filter 0.15s linear;
}
nav > a:any-link:hover {
  filter: brightness(1.2);
}
