/* variables */
:root {
  --background: 248 251 231;
  --surface: 236 240 220;
  --foreground: 25 29 17;
  --foreground-variant: 67 73 55;
  --outline: 116 121 101;
  --primary: 73 104 0;
  --on-primary: 255 255 255;

  --shadow: rgb(0 0 0 / 0.2);
  --glow: rgb(255 255 255 / 0.4);

  --rounded-base: 8px;
  --rounded-lg: 16px;
  --rounded-full: 9999px;

  --sans-serif: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.dark {
  --background: 17 21 9;
  --surface: 29 33 21;
  --foreground: 225 228 209;
  --foreground-variant: 196 201 178;
  --outline: 141 147 126;
  --primary: 156 217 0;
  --on-primary: 36 54 0;

  --shadow: rgb(0 0 0 / 0.5);
  --glow: rgb(255 255 255 / 0.03);
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role="list"] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

img,
svg {
  flex-shrink: 0;
}

input,
textarea,
button {
  color: inherit;
  font: inherit;
}

html {
  color-scheme: light dark;
  accent-color: rgb(var(--primary));
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--sans-serif);
}

::selection {
  background-color: rgb(var(--primary) / 0.4);
}

label {
  --default-label-color: rgb(var(--foreground));
  color: var(--default-label-color);
}

svg {
  fill: rgb(var(--primary));
}

button {
  background-color: transparent;
  border: none;
  width: fit-content;
}

a {
  color: rgb(var(--primary));
}
a:hover {
  text-decoration: none;
}

.animated-hover {
  padding: 1rem;
  position: relative;
}
.animated-hover > svg {
  transition: fill 100ms;
}
.animated-hover:hover > svg {
  fill: rgb(var(--on-primary));
}
.animated-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(var(--primary));
  border-radius: var(--rounded-full);
  transform: scale(0);
  transition: transform 400ms;
}
.animated-hover:hover::before {
  transition: transform 100ms;
  transform: scale(0.95) translate(var(--x), var(--y));
  z-index: -1;
}

.focus-text {
  font-family: var(--monospace);
  font-size: 1.75rem;
  font-weight: 600;
}
@media (max-width: 400px) {
  .focus-text {
    font-size: 1.25rem;
  }
}

.text {
  color: rgb(var(--foreground));
  line-height: 1.7;
  letter-spacing: 0.05rem;
  max-width: 65ch;
}
.text ul {
  margin-left: 2rem;
}
