/* variables */
:root {
  --background: 248 251 231;
  --surface: 236 240 220;
  --foreground: 25 29 17;
  --foreground-variant: 67 73 55;
  --outline: 116 121 101;
  --primary: 73 104 0;
  --on-primary: 255 255 255;

  --shadow: rgb(0 0 0 / 0.2);

  --rounded-lg: 16px;
  --rounded-full: 9999px;

  --sans-serif: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 17 21 9;
    --surface: 29 33 21;
    --foreground: 225 228 209;
    --foreground-variant: 196 201 178;
    --outline: 141 147 126;
    --primary: 156 217 0;
    --on-primary: 36 54 0;

    --shadow: rgb(0 0 0 / 0.5);
  }
}

/* reset */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role="list"] {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

img,
svg {
  flex-shrink: 0;
}

button {
  font: inherit;
}

html {
  color-scheme: light dark;
  accent-color: rgb(var(--primary));
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--sans-serif);
  font-size: 1.25rem;
}

label,
button,
h3 {
  font-family: var(--monospace);
}

label {
  font-size: 2rem;
  font-weight: 600;
  --default-label-color: rgb(var(--foreground));
  color: var(--default-label-color);
}

svg,
circle {
  fill: rgb(var(--primary));
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: rgb(var(--primary));
}
a:hover {
  text-decoration: none;
}

.text {
  color: rgb(var(--foreground));
  line-height: 1.7;
  letter-spacing: 0.05rem;
  max-width: 65ch;
}
