---
import Section from "../Section.astro";
import "../../styles/button.css"
---

<Section title="contacts" wrapperClass="min-w-full bg-black/10 rounded-xl relative !flex-row justify-between p-16 border-gradient">
  <div class="w-[65%] flex flex-col gap-8">
    <p class="text-focus-stealer leading-none">sinskiy@proton.me</p>
    <form class="flex flex-col gap-4" action="">
      <div class="flex max-h-16 max-w-full gap-4">
        <input class="input" type="text" name="name" placeholder="Your name" />
        <input class="input" type="text" name="email" placeholder="Your email" />
      </div>
      <textarea placeholder="Message" class="input resize-none min-w-full h-40"></textarea>
      <button class="button min-w-full py-4 text-2xl mt-8">Send message</button>
    </form>
  </div>
  <footer class="flex flex-col items-end text-end gap-8">
    <div class="flex gap-6 items-baseline">
      <a class="z-10" href="http://github.com/Sinskiy/" target="_blank">
        <img class="object-contain" src="/github.svg" alt="github icon">
      </a>
      <img class="object-contain" src="/discord.svg" alt="discord icon">
    </div>
    <aside class="text-2xl font-regular text-c">
      <ul class="flex flex-col gap-4">
        <li>Design & Code by me</li>
        <li>1.8</li>
        <li><a class="!text-2xl underlined visited:text-purple-400" href="https://github.com/Sinskiy/sinskiy.github.io/">Github Repo</a></li>
      </ul>
    </aside>
  </footer>
</Section>