---
import SectionPlaceholder from "../SectionPlaceholder.astro";
---
<SectionPlaceholder sectionId="home" title="hi," additionalMargin="true">
    <h1>
        I'm Sinskiy,<br/>
        <span>web developer</span>
    </h1>
    <button class="button-gradient-wrapper" aria-label="See projects or scroll down" tabindex="-1">
        <a href="#projects" class="h3CustomText">
            see projects
            <img src="arrow-down.svg" alt="Arrow down">
        </a>
    </button>
    <div class="bottom">
        <small>or scroll down</small>
        <img src="mouse.svg" alt="mouse icon">
    </div>
</SectionPlaceholder>

<style>
    h1 {
        margin: 6rem 0;

        font-family: "Red Rose", sans-serif;
        font-size: clamp(2rem, 13vw, 8rem);
        font-weight: 700;
        text-align: center;

        word-break: break-word;
        hyphens: auto;
        overflow-wrap: break-word;
    }

    span {
        background: linear-gradient(45deg,
            var(--green) 0%,
            var(--purple) 100%
        );
        filter: brightness(0.8);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }

    a {
        z-index: 5!important;
    }

    .bottom {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        margin-top: 5rem;
    }

    img {
        max-width: 4vw;
    }

    @media (max-width: 700px) {
        .bottom {
            display: none;
        }
        h1 {
            margin: 3rem 0 6rem 0;
        }
    }
</style>