---
import Project from "../Project.astro";
import Section from "../Section.astro";
import { getCollection } from 'astro:content';
const allProjects = await getCollection('projects')
---
<Section title="portfolio" sectionClass="pt-[100svh]">
  {allProjects.map(project =>
    <Project project={project} />
  )}
</Section>
<script>
  const cards = document.querySelectorAll("#portfolio article > a")

  function handleMouseMove(e: MouseEvent): void {
    const currentTarget: HTMLElement = e.currentTarget as HTMLElement
    if (e.currentTarget) {
      const rect = currentTarget.getBoundingClientRect()
      const x = e.clientX - rect.left
      const y = e.clientY - rect.top

      currentTarget.style.setProperty("--mouse-x",`${x}px`)
      currentTarget.style.setProperty("--mouse-y",`${y}px`)
    }
  }

  cards.forEach(card => {
    (card as HTMLElement).onmousemove = (e: MouseEvent) => handleMouseMove(e);
  })
</script>