---
import { getAllPostsSorted } from "../posts";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import FormattedDate from "../components/FormattedDate.astro";

export const prerender = true;

const posts = await getAllPostsSorted();
---

<Layout>
  <Section title="posts" style="--order: 1;">
    <ul role="list" class="containers">
      {posts.length > 0 ? posts.map((post) => (
          <li class="container">
            <a href={`/posts/${post.id}`}>
              <article>
                  <h4>{post.data.title}</h2>
                  {post.data.pubDate && <FormattedDate date={post.data.pubDate} />}
                  <p>{post.data.description}</p>
              </article>
            </a>
          </li>
        )) : <p>no posts yet :c</p>
      }
    </ul>
  </Section>
</Layout>

<style>
  a {
    text-decoration: none;
  }

  ul {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  h4 {
    font-size: 1.75rem;
  }

  article {
    color: rgb(var(--foreground));
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
</style>