---
import HTMLLayout from "../components/HTMLLayout.astro";
import Header from "../components/Header.astro";
import About from "../components/sections/About.astro";
import Contacts from "../components/sections/Contacts.astro";
import Hi from "../components/sections/Hi.astro";
import Portfolio from "../components/sections/Portfolio.astro";
import '../styles/global.css'
---

<HTMLLayout bodyClass="bg-gradient-to-r from-primaryDarker to-secondaryDarker flex flex-col items-center py-8">
	<Header />
	<main class="min-w-full">
		<Hi />
		<Portfolio />
		<About />
		<Contacts />
	</main>
</HTMLLayout>
