---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Home from "../components/sections/Home.astro";
import Projects from "../components/sections/Projects.astro";
import About from "../components/sections/About.astro";
import Contacts from "../components/sections/Contacts.astro";
---
<MainLayout>
	<div id="top"></div>
	<Header />
	<main>
		<Home />
		<Projects />
		<About />
		<Contacts />
	</main>
</MainLayout>