---
import ThoughtsForm from "../components/ThoughtsForm.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = false;
---

<Layout>
  <main>
    <ThoughtsForm />
  </main>
</Layout>
