---
import OutwardArrow from "./icons/outward-arrow.svg";
---

<hgroup style="--order: 1;">
<h1>dima sinskiy</h1>
<h2>full-stack web developer interested in politics, philosophy and books<br />i'm looking for friends and job, <a href="#contacts">dm me on Discord</a></h2>
<nav>
    <a href="/blog">blog</a>
    <a href="https://sinskiy.github.io/resume" target="_blank"
    >resume <OutwardArrow /></a
    >
</nav>
</hgroup>

<style>
  hgroup {
    margin-bottom: 2rem;
  }

  hgroup > nav {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }

  h1 {
    font-size: 2.25rem;
    font-family: var(--monospace);
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 1.4;
  }

  nav > a {
    display: flex;
    gap: 2px;
    line-height: 1;
    font-family: var(--monospace);
  }
</style>