<a href="#projects" class="flex items-baseline gap-4 max-w-fit px-24 py-6 rounded-full font-redRose text-4xl relative bg-tertiaryDarker">
  <slot />
</a>
<style>
  @property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes button-gradient--animation {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
  }
  a::before, a::after {
    --angle: 0deg;
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 9999px;
    background: conic-gradient(
      from var(--angle),
      hsl(var(--toxic-green)),
      hsl(var(--toxic-purple))
  );;
    animation: button-gradient--animation 5s infinite;
    transition: --angle 0s;
    z-index: -1;
  }
  a::after {
    filter: blur(32px);
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
  a:hover::after {
    opacity: 0.5;
  }
</style>