---
import Copy from "./icons/Copy.astro";
import Discord from "./icons/Discord.astro";
import GitHub from "./icons/GitHub.astro";
---

<div class="contacts-row-wrapper">
  <button id="copy-email" data-copiable="sinskiy@proton.me">
    <Copy />
    <div class="scrolling-text-wrapper">
      <p
        class="scrolling-text focus-text"
        style="--width: 250px; --quantity: 3; --animeTime: 25s;"
      >
        <span style="--index: 1">sinskiy@proton.me</span>
        <span style="--index: 2">sinskiy@proton.me</span>
        <span style="--index: 3">sinskiy@proton.me</span>
      </p>
    </div>
    <div class="tooltip">You havent't copied anything</div>
  </button>
  <a
    class="animated-hover"
    href="https://github.com/sinskiy"
    aria-label="GitHub account"
  >
    <GitHub size={30} />
  </a>
  <button
    data-copiable="@sinskiy_"
    aria-label="@sinskiy_"
    id="copy-discord"
    class="animated-hover"
  >
    <Discord />
    <div class="tooltip">You havent't copied anything</div>
  </button>
</div>

<style>
  [data-copiable] {
    cursor: copy;
  }
  .tooltip {
    display: none;
    position: absolute;
    bottom: calc(100% + 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    padding: 0.25rem 1rem;
    background-color: rgb(var(--primary));
    color: rgb(var(--on-primary));
    border-radius: var(--rounded-full);
  }
  .tooltip.show {
    display: block;
  }

  .contacts-row-wrapper {
    display: flex;
  }

  #copy-email {
    flex: 1;
    position: relative;
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    margin-right: 1rem;
  }
  #copy-email > :global(svg) {
    fill: rgb(var(--foreground));
    transition: fill 100ms;
  }
  #copy-email:hover > :global(svg) {
    fill: rgb(var(--primary));
  }
  #copy-email:hover > .scrolling-text-wrapper {
    opacity: 0.5;
  }

  .scrolling-text-wrapper {
    width: 100%;
    font-style: italic;
    overflow: hidden;
    transition: opacity 100ms;
  }

  .scrolling-text {
    position: relative;
    min-width: calc(var(--width) * var(--quantity));
    min-height: 1lh;
  }

  .scrolling-text > span {
    position: absolute;
    width: var(--width);
    inset-inline-start: 100%;
    animation: scroll var(--animeTime) linear infinite;
    animation-delay: calc(
      var(--animeTime) / var(--quantity) * (var(--index) - 1) - var(--animeTime)
    );
    color: rgb(var(--foreground));
    overflow: hidden;
  }
  @media (prefers-reduced-motion: reduce), (update: slow) {
    .scrolling-text > span {
      animation-play-state: paused;
    }
  }
  .scrolling-text:hover span {
    animation-play-state: paused;
  }

  @keyframes scroll {
    100% {
      inset-inline-start: calc(0px - var(--width));
    }
  }
</style>

<script>
  const copiable = document.querySelectorAll("[data-copiable]");
  for (const copy of copiable) {
    if (copy instanceof HTMLButtonElement) {
      copy.addEventListener("click", handleCopy);

      const copyButton = copy;
      function handleCopy() {
        const text = copyButton.dataset.copiable;

        if (text) {
          navigator.clipboard.writeText(text);
          showTooltip(text);
        }
      }
    }

    function showTooltip(text: string) {
      const tooltip = document.querySelector(".tooltip");
      if (tooltip instanceof HTMLElement) {
        tooltip.classList.add("show");
        tooltip.textContent = `Copied ${text}`;
        setTimeout(() => {
          tooltip.classList.remove("show");
        }, 2000);
      }
    }
  }
</script>
