---
import SectionPlaceholder from "./SectionPlaceholder.astro";
import FirstRow from "./Contacts/FirstRow.astro";
import Form from "./Contacts/Form.astro";
import Aside from "./Contacts/Aside.astro";
---
<SectionPlaceholder sectionId="contacts">
    <footer>
        <FirstRow />
        <div id="aside-contacts" class="flex">
            <Form />
            <Aside />
        </div>
    </footer>
</SectionPlaceholder>
<style>
    footer {
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;

        width: clamp(1rem, 70vw, 75.5rem);
        padding: clamp(0.5rem, 10vw, 4rem);
        margin-bottom: 5rem;

        border-radius: 1rem;
        background-color: var(--black-more-transparent);
    }

    footer::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 5px;
        border-radius: inherit;
        background: linear-gradient(45deg,
            var(--green) 0%,
            var(--purple) 100%);
        filter: opacity(0.5);
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
                mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
    }

    #aside-contacts {
        justify-content: space-between;
    }

    @media (max-width: 1444px) {
        #aside-contacts {
            flex-direction: column;
        }
    }
</style>