---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
  text: string;
}

const { text, ...attrs } = Astro.props;
---

<button data-copiable={text} {...attrs}>
  <slot />
  <span class="tooltip">You havent't copied anything</span>
</button>

<style>
  button {
    cursor: copy;
    position: relative;
  }
  .tooltip {
    display: none;
    position: absolute;
    bottom: calc(100% + 0.5rem);
    width: max-content;
    padding: 0.25rem 1rem;
    background-color: rgb(var(--primary));
    color: rgb(var(--on-primary));
    border-radius: var(--rounded-full);
  }
  .tooltip.show {
    display: block;
  }
</style>
