---
import { formatRelative } from 'date-fns'

interface Props {
  date: Date;
}

const { date } = Astro.props
const formatted = formatRelative(date, new Date())
---

<p>
  <time datetime={date.toISOString()}>
      {formatted.replace(/ at.*$/g, '')}
  </time>
</p>

<style>
  time {
    color: rgb(var(--foreground-variant));
    font-size: 0.875rem;
  }
</style>