---
import { formatDate } from "../date"

interface Props {
  date: Date;
}

const { date } = Astro.props
const formatted = formatDate(date)
---

<p>
  <time datetime={date.toISOString()}>
      {formatted}
  </time>
</p>

<style>
  time {
    color: rgb(var(--foreground-variant));
    font-size: 0.875rem;
  }
</style>