---
import { formatRelative } from 'date-fns'

interface Props {
  date: Date;
  short?: boolean;
  className?: string;
}

const { date, short = true, className } = Astro.props
const formatted = formatRelative(date, new Date())
---

<p>
    <time class={className ?? "time"} datetime={date.toISOString()}>
        {short ? formatted.replace(/ at.*$/g, '') : formatted}
    </time>
</p>

<style>
  .time {
    color: rgb(var(--foreground-variant));
    font-family: var(--monospace);
    font-size: 0.875rem;
  }
</style>