---
import GitHub from "./icons/GitHub.astro";
import Theme from "./Theme.astro";
import WebsitePicker from "./WebsitePicker.astro";
---

<header>
  <WebsitePicker />
  <div class="nav">
    <nav>
      <a href="/main">/main</a>
      <a href="/blog">/blog</a>
      <a
        class="animated-hover"
        href="https://github.com/sinskiy/sinskiy.site"
        aria-label="GitHub page"
      >
        <GitHub size={20} />
      </a>
    </nav>
    <Theme />
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
  }

  a {
    font-family: var(--monospace);
    padding-right: 16px;
    color: rgb(var(--foreground));
  }

  .nav, nav {
    display: flex;
    align-items: center;
  }
</style>
