---
export const navList = ["hi", "portfolio", "about", "contacts"];
---

<header
  class="absolute z-50 flex w-fit items-center justify-between gap-8 rounded-full border-2 border-white/10 bg-black/10 px-16 py-4 capitalize backdrop-blur-md md:fixed md:justify-center"
>
  <a href="#top" aria-labelledby="top-label">
    <img
      id="logo-text"
      aria-hidden="true"
      class="w-12 md:w-full"
      src="/logo.svg"
      alt="my logo"
    />
    <span id="top-label" class="sr-only">go to the top of this page</span>
  </a>
  <nav class="flex gap-8">
    {
      navList.map((navElement) => (
        <a
          class="hidden md:flex"
          href={`#${navElement === "portfolio" ? "projects-top" : navElement}`}
        >
          {navElement}
        </a>
      ))
    }
    <a
      target="_blank"
      href="https://github.com/Sinskiy/"
      aria-labelledby="github"
    >
      <img src="/github.svg" alt="github logo" />
      <span id="github" class="sr-only">go to my github</span>
    </a>
  </nav>
</header>
