---
import GitHub from "./icons/GitHub.astro";
---

<header>
  <p id="logo">www.sinskiy.website</p>
  <nav>
    <a href="https://github.com/sinskiy" aria-label="GitHub account">
      <GitHub />
    </a>
  </nav>
</header>

<style>
  #logo {
    font-size: 1.5rem;
    font-weight: 600;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
