---
const hello = ["hello", "bye"];
const navigation = [
    {
        name: "home",
        label: "home page of this website",
        anchor: "top"
    },
    {
        name: "projects",
        label: "my projects"
    },
    {
        name: "about",
        label: "section with information about me"
    },
    {
        name: "contacts",
        label: "section with my contacts"
    }
];
---
<header>
    <a href="#top" aria-label="Go to home page of this website" title="Go to home page of this website">
        <img src="logo.svg" alt="Go to home" id="logo">
    </a>
    <nav>
        {
            navigation.map((link) =>
                <a
                    href={`#${link.anchor ?? link.name}`}
                    class="link"
                    aria-label={`Go to ${link.label}`}
                    title={`Go to ${link.label}`}
                >
                    {link.name}
                </a>
            )
        }
    </nav>
</header>

<style>
    header {
        top: 2rem;
        position: sticky; /* with `position: fixed` h2's margin isn't working */
        z-index: 10;

        border-radius: 10rem;

        padding: 1rem 4rem;

        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }

    nav {
        display: flex;
        gap: 2rem;
    }

    a.on-top {
        color: white;
    }
    a.on-top:hover {
        color: var(--green)
    }

    /* media */
    @media (max-width: 700px) {
    header {
        gap: 2.5rem;
        padding: 1rem 1rem;
    }
    header > nav {
        gap: 1.5rem;
    }

    @media (max-width: 600px) {
        #logo {
            max-width: 2.5rem;
            max-height: auto;
        }
    }

    @media (max-width: 370px) {
        nav {
            display: none;
        }
    }
}
</style>
<script>
    const headerStyle = document.querySelector("header").style;

    function removeHeaderBg() {
        if (scrollY < 150) {
            headerStyle.background = "none";
            headerStyle.backdropFilter = "none";
        }
        else {
            headerStyle.transition = "background 0.3s";
            headerStyle.background = "var(--white-transparent)";
            headerStyle.backdropFilter = "blur(16px)";
        }
    }

    removeHeaderBg();
    document.addEventListener("scroll", removeHeaderBg);

</script>