---
import GitHub from "./icons/GitHub.astro";
import Theme from "./Theme.astro";
import WebsitePicker from "./WebsitePicker.astro";
---

<header>
  <WebsitePicker />
  <nav>
    <a
      class="animated-hover"
      href="https://github.com/fluqont"
      aria-label="GitHub account"
    >
      <GitHub />
    </a>
    <Theme />
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    display: flex;
  }
</style>
