---
import GitHub from "./icons/GitHub.astro";
import Theme from "./Theme.astro";
import WebsitePicker from "./WebsitePicker.astro";
---

<header>
  <WebsitePicker />
  <nav>
    <a href="https://github.com/sinskiy" aria-label="GitHub account">
      <GitHub />
    </a>
    <Theme />
  </nav>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    display: flex;
    gap: 0.75rem;
  }
</style>
