---
import Projects from "./Projects.astro";
import Contacts from "./Contacts.astro";
import Thoughts from "./Thoughts.astro";
import Section from "./Section.astro";
import About from "./About.astro";
import AnimatedHover from "./scripts/AnimatedHover.astro";
---

<About />
<Section title="projects" style="--order: 3;">
  <Projects />
</Section>
<Section title="contacts">
  <Contacts />
</Section>
<Section title="thoughts?">
  <a href="/post-thought">add a thought</a>
  <Thoughts />
</Section>

<style>
    :global(section[style]),
  :global(hgroup[style]) {
    opacity: 0;
    animation: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    :global(section[style]),
    :global(hgroup[style]) {
      animation: 500ms show forwards;
      animation-delay: calc(var(--order) * 200ms);
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>

<AnimatedHover />