---
import Projects from "./Projects.astro";
import Contacts from "./Contacts.astro";
import Thoughts from "./Thoughts.astro";
import OutwardArrow from "./icons/outward-arrow.svg";
---

<main>
  <hgroup style="--order: 1;">
    <h1>dima sinskiy</h1>
    <h2>full-stack web developer interested in politics, philosophy and reading books<br />i'm looking for friends and job, <a href="#contacts">dm me on Discord</a></h2>
    <nav>
      <a href="https://sinskiy.github.io/resume" target="_blank"
        >resume <OutwardArrow /></a
      >
    </nav>
  </hgroup>
  <section style="--order: 3;">
    <h2>projects</h2>
    <Projects />
  </section>
  <section id="contacts">
    <h2>contacts</h2>
    <Contacts />
  </section>
  <section>
    <h2>thoughts?</h2>
    <a href="/post-thought">add a thought</a>
    <Thoughts />
  </section>
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  hgroup {
    margin-bottom: 2rem;
  }

  hgroup > nav {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }

  h1 {
    font-size: 2.25rem;
    font-family: var(--monospace);
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.025rem;
    line-height: 1.4;
  }

  a[target="_blank"] {
    display: flex;
    gap: 2px;
    line-height: 1;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  section[style],
  hgroup[style] {
    opacity: 0;
    animation: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    section[style],
    hgroup[style] {
      animation: 500ms show forwards;
      animation-delay: calc(var(--order) * 200ms);
    }
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
