---
import { getCollection } from "astro:content";
import HandleCardHover from "./scripts/HandleCardHover.astro";
import Card from "./Card.astro";
import ProjectInfo from "./ProjectInfo.astro";

const projects = await getCollection("projects");
---

<ul role="list" class="projects">
  {
    projects.map((project) => (
      <li class="project">
        <Card {...project.data} />
        <ProjectInfo {...project} />
      </li>
    ))
  }
</ul>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .project {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
</style>

<HandleCardHover />
