---
const { title, sectionClass, wrapperClass } = Astro.props;
---

<section
  id={title}
  class:list={[
    sectionClass,
    "mt-16 flex min-w-full flex-col px-[10%] md:px-[15%]",
  ]}
>
  <h2 class="mb-4 pl-8 font-redRose text-normal text-c">{title}</h2>
  <div class:list={[wrapperClass, "flex min-w-full flex-col"]}>
    <slot />
  </div>
</section>
