---
const { sectionId, title = sectionId } = Astro.props;
---
<section id={sectionId}>
    <h2 class="sectionTitle">{title}</h2>
    <div class:list={['center', 'column']}>
        <slot />
    </div>
</section>

<style>

    .sectionTitle {
        font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
        color: var(--gray);
        font-size: clamp(0.5rem, 4vw, 1.7rem);

        margin-left: 8vw;
        margin-top: 4rem;
    }

    @media (max-width: 700px) {
        #home > .sectionTitle {
            margin-top: 5rem;
        }
        #home {
            display: flex;
            flex-direction: column;
            min-height: 80vh;
            justify-content: center;
            margin-bottom: 10rem;
        }
    }
</style>