---
import ThemeIcon from "./icons/ThemeIcon.astro";
---

<div id="theme-wrapper" class="animated-hover">
  <input
    type="checkbox"
    name="theme"
    id="theme"
    aria-label="toggle dark theme"
  />
  <ThemeIcon />
</div>

<style>
  #theme-wrapper {
    position: relative;
  }

  #theme {
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: 2;
  }

  #theme:focus-visible ~ :global(svg) {
    outline: 1px solid white;
  }

  #theme ~ :global(svg) {
    path {
      transform-origin: center;
      transition: transform 500ms cubic-bezier(0, 0, 0.15, 1.25);
    }
    circle {
      transition: transform calc(500ms / 1.5) cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  #theme:checked ~ :global(svg) {
    path {
      transform: rotate(180deg);
    }
    circle {
      transform: translate3d(15%, 0, 0);
    }
  }
</style>

<script>
  const theme = document.querySelector("#theme");
  if (theme instanceof HTMLInputElement) {
    const themeInput = theme;

    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
      changeTheme(savedTheme);
    }

    theme.addEventListener("change", handleThemeChange);

    function handleThemeChange() {
      changeTheme(themeInput.checked === true ? "dark" : "light");
    }

    function changeTheme(theme: "dark" | string) {
      if (theme === "dark") {
        localStorage.setItem("theme", "dark");

        document.documentElement.classList.add("dark");
      } else {
        localStorage.setItem("theme", "light");

        document.documentElement.classList.remove("dark");
      }
    }
  }
</script>
