.thoughts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.thought {
  padding: 1rem 2rem;
  background-color: rgb(var(--surface));
  border-radius: var(--rounded-base);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow-wrap: break-word;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 0.5rem;
  align-items: start;
  line-height: 0.75;
}

.author {
  color: rgb(var(--foreground-variant));
  font-style: normal;
  font-weight: 600;
  font-family: var(--monospace);
  word-break: break-all;
}

.time {
  color: rgb(var(--foreground-variant) / 0.8);
  font-size: 0.875rem;
}

.activatable {
  color: rgb(var(--foreground));
  transition: opacity 100ms;
}
.activatable:hover {
  opacity: 0.5;
}
