---
import { Thought } from "astro:db";
import { db } from "astro:db";
import markdownit from "markdown-it";

const thoughts = (await db.select().from(Thought)).reverse();
const md = markdownit({ linkify: true });
---

{
  thoughts.length > 0 ? (
    <ul class="thoughts" role="list">
      {thoughts.map((thought) => (
        <li class="thought">
          <adress class="author">{thought.username}</adress>
          <time datetime={thought.date.toISOString()}>
            {thought.date.toLocaleDateString("en-CA")}
          </time>
          <div
            class="text"
            set:html={md.render(thought.message).replace("<h1>", "<p>")}
          />
        </li>
      ))}
    </ul>
  ) : (
    <p>
      <i>no thoughts yet</i>
    </p>
  )
}

<style>
  .thoughts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .thought {
    padding: 1rem 2rem;
    background-color: rgb(var(--surface));
    border-radius: var(--rounded-base);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .author {
    color: rgb(var(--foreground-variant));
    font-weight: 500;
  }
</style>
