---
import Dropdown from "./icons/dropdown.svg";
import Logo from "./icons/logo.svg";

const websites = ["www", "madwriters", "multipedia", "words", "chat", "visit-this-please"];
---

<div id="logo-wrapper">
  <input
    type="checkbox"
    name="links-checkbox"
    id="links-checkbox"
    aria-label="show my websites picker"
  />
  <a id="logo" href="/">
    <Logo />
    <label for="links-checkbox" id="dropdown-trigger"
      >www.
      <Dropdown />
    </label>
    <p id="current-website">sinskiy.site</p>
  </a>
  <ul id="websites" role="list">
    {
      websites.map((link, i) => (
        <li>
          <a
            class="link"
            aria-disabled={i === 0}
            href={`https://${link}.sinskiy.site`}
            aria-label={`go to ${link}`}
          >
            {link}
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  #logo-wrapper {
    position: relative;
  }

  #links-checkbox {
    opacity: 0;
  }

  #websites {
    position: absolute;
    min-width: 12rem;
    padding: 0.5rem;
    background-color: rgb(var(--surface));
    border-radius: var(--rounded-base);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    transform: scale(0.8);
    transition:
      opacity 300ms,
      transform 200ms;
  }
  #links-checkbox:checked ~ #websites {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }

  .link {
    padding: 0.5rem 0;
    padding-left: 2rem;
    display: grid;
    align-content: center;
    border-radius: var(--rounded-base);
    text-decoration: none;
    color: rgb(var(--foreground));
    transition: background-color 100ms;
  }
  .link:hover {
    background-color: rgb(var(--foreground) / 0.1);
  }
  .link[aria-disabled="true"] {
    background-color: rgb(var(--foreground) / 0.1);
    pointer-events: none;
    opacity: 0.5;
  }

  #logo {
    color: rgb(var(--foreground));
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;

    display: flex;
    gap: 0.75rem;
    align-items: center;
  }
  @media (max-width: 500px) {
    #logo {
      font-size: 1rem;
    }

    #logo-img {
      display: none;
    }
  }
  #links-checkbox:focus-visible + #logo {
    outline: 1px solid white;
  }

  #logo label {
    background-color: rgb(var(--surface));
    padding: 0.25rem 0;
    padding-left: 0.75rem;
    border-radius: var(--rounded-base);
    display: flex;
    align-items: center;
  }

  #dropdown-trigger :global(svg) {
    fill: rgb(var(--foreground));
    transition: transform 200ms;
  }
  #links-checkbox:checked + #logo > #dropdown-trigger :global(svg) {
    transform: rotate(-180deg);
  }

  @media (max-width: 500px) {
    #current-website {
      display: none;
    }
  }
</style>

<script>
  const linksCheckbox = document.querySelector("#links-checkbox");
  const logo = document.querySelector("#logo-wrapper");
  if (
    linksCheckbox instanceof HTMLInputElement &&
    logo instanceof HTMLElement
  ) {
    const linksInput = linksCheckbox as HTMLInputElement;
    linksCheckbox.addEventListener("change", handleChange);

    function handleChange(e: Event) {
      if (linksInput.checked) {
        document.addEventListener("click", closeIfOutside);
      }
    }

    function closeIfOutside(e: MouseEvent) {
      if (
        e.target instanceof Node &&
        !(logo as HTMLElement).contains(e.target)
      ) {
        linksInput.checked = false;
        document.removeEventListener("click", closeIfOutside);
      }
    }
  }
</script>
