/* variables */
:root {
  --red: #FF99AA;
  --orange: #FFB904;
  --yellow: #FAFF27;
  --green: #C1F0B2;
  --blue: #B2E4F0;
  --purple: #D6B2F0;
  --pink: #FFC9DE;
  --textShadow: black -2px 2px;
}

/* normalization */
* {
  margin: 0;
  font-family: "Neucha", cursive;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFDFAF;
  font-size: 62.5px;
  padding: 0 10rem;
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.pink {
  color: var(--pink);
}

.nav__text {
  font-size: clamp(1rem, 3vw, 3rem);
}

h1 {
  font-size: clamp(5rem, 7vw, 8rem);
}

.tertiary, button {
  font-size: clamp(1rem, 5vw, 4rem);
}

.paragraph {
  font-size: clamp(0.5rem, 3vw, 3rem);
}

section .section__wrap {
  box-shadow: 10px 10px 0px;
  border: 5px solid;
}
section .sectionHeader {
  margin: 2rem 0;
}

main {
  padding-top: 10rem;
}

button {
  box-shadow: 0px 4px 0px;
  border: 5px solid;
  background-blend-mode: screen;
  transition: all 0.2s cubic-bezier(0.8, -0.5, 0.26, 1.3);
}
button:hover {
  box-shadow: none;
  position: relative;
  transform: translate(0, 4px);
}

input {
  max-width: 30%;
  min-height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
  outline: none;
}

.anchor {
  display: block;
  position: relative;
  top: -9rem;
  visibility: hidden;
}

.portfolio a, .contacts a {
  position: relative;
  z-index: 0;
  text-decoration: none;
  color: black;
}
.portfolio a::before, .contacts a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: black;
  transition: height 0.1s ease-out;
}
.portfolio a:hover::before, .contacts a:hover::before {
  height: 5%;
}

/* header */
header {
  position: fixed;
  z-index: 1;
  padding-bottom: 1rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 223, 175, 0.9254901961);
}
header .logo {
  display: flex;
  text-decoration: none;
}
header .logo__letter {
  font-family: "Square Peg", cursive;
  font-size: clamp(3rem, 15vw, 7rem);
  -webkit-text-stroke: 1px black;
  text-shadow: var(--textShadow);
  transition: all 0.2s cubic-bezier(0.8, -0.5, 0.26, 1.3);
}
header .logo:hover .logo__letter {
  text-shadow: none;
  position: relative;
  transform: translate(-2px, 2px);
}
header .nav {
  display: flex;
}
header .nav__text {
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: var(--textShadow);
  margin-right: 3rem;
  transition: all 0.2s cubic-bezier(0.8, -0.5, 0.26, 1.3);
}
header .nav__text:hover {
  text-shadow: none;
  position: relative;
  transform: translate(-2px, 2px);
}

/* mainInfo */
.mainInfo {
  display: flex;
}
.mainInfo__details {
  margin-left: 10rem;
}
.mainInfo__details h2 {
  color: #3D3D3D;
  margin-bottom: 3rem;
}
.mainInfo__details button {
  min-width: 48%;
}
.mainInfo__details .order__button {
  background: url(/src/images/pricesBg.jpg);
}
.mainInfo__details .contacts__button {
  background: url(/src/images/contactsBg.jpg);
}

/* portfolio */
.portfolio__cards {
  display: flex;
  justify-content: space-between;
}
.portfolio__cards__card {
  min-width: 40vw;
  max-width: 40vw;
}
.portfolio__cards__card img {
  width: 100%;
}
.portfolio__cards__card__text {
  margin: 0 2rem 2rem 2rem;
}
.portfolio__cards .gymnasium {
  background: url(/src/images/12thgymnasiumBg.jpg);
  margin-right: 5rem;
}
.portfolio__cards .getmap {
  background: url(/src/images/getmapBg.jpg);
}

/* order */
.order__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background: url(/src/images/priceBg.jpg);
}
.order__info__flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.order__info__flexContainer h2 {
  line-height: 6rem;
}
.order__info__flexContainer .pages {
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}
.order__info .buttons {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}
.order__info .buttons button {
  padding: 0 2rem;
}
.order__info .buttons .order__button {
  background: url(/src/images/mailsBg.jpg);
}
.order__info .buttons .contacts__button {
  background: url(/src/images/contactsbuttonBg.jpg);
}
.order nav {
  display: flex;
  align-items: center;
}
.order nav .paragraph {
  color: black;
  text-decoration: none;
}
.order nav .paragraph[data-active=yes], .order nav .paragraph:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
.order nav p {
  margin: 0 0.5rem;
}

/* contacts */
.contacts .section__contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.contacts .section__contacts .section__wrap {
  min-width: 43%;
  padding: 2rem;
}
.contacts .section__contacts__mails {
  background: url(/src/images/mailsBg.jpg);
}
.contacts .section__contacts__social {
  margin-left: 3rem;
  background: url(/src/images/socialBg.jpg);
}
.contacts .section__contacts__social__media {
  display: flex;
}
.contacts .section__contacts__social__media img {
  margin-right: 1rem;
}/*# sourceMappingURL=style.css.map */