---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>sinskiy</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  body {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
</style>
