---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import AnimatedHover from "../components/scripts/AnimatedHover.astro";
import ThemeOnLoad from "../components/scripts/ThemeOnLoad.astro";
import "../styles/index.css";
import "../styles/reset.css"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
    <ThemeOnLoad />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <AnimatedHover />
  </body>
</html>

<style>
  body {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
</style>
