---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Sinskiy"
      description="Personal website-portfolio build with Astro"
      image="/thumbnail.svg"
    />
  </head>
  <body class="flex flex-col items-center py-8">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
