---
import { Image } from "astro:assets";

interface Props {
  image: string;
  alt: string;
  url: string;
}

const { image, alt, url } = Astro.props;
const relativePartOfURL = url.split("/").at(-1);
---

<a
  class="underlined flex h-6 items-center gap-2"
  target="_blank"
  href={`https://${url}`}
>
  <Image loading="lazy" src={image} alt={alt} width="24" height="24" />
  {relativePartOfURL}
</a>
