---
interface Props {
  image: string;
  alt: string;
  url: string;
}

const { image, alt, url } = Astro.props;
const relativePartOfURL = url.split("/").at(-1);
---

<a
  class="underlined flex h-6 items-center gap-2"
  target="_blank"
  href={`https://${url}`}
>
  <img class="h-auto w-6" src={image} alt={alt} />
  {relativePartOfURL}
</a>
