---
const { image, alt, url } = Astro.props
---
<a class="flex gap-2 underlined h-6 items-baseline" target="_blank" href={`https://${url}`}>
  <img class="w-6 h-auto" src={image} alt={alt}>
  {url}
</a>